.text-field {
    background: #333231;
    color: white !important;
    outline-color: #1f701f;
    font-size: 20px;
    padding: 20px;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
    width: 90%;
}
.input {
    height: 50px !important;
}
.textarea {
    height: 120px !important;
}
.send-btn {
    margin-top: 15px !important;
    background: #1f701f !important;
    width: 25%;
}
.contact-icon {
    color: #1f701f;
    font-size: 30px !important;
    margin: 5px 5px 0px 0px;
}