.project-btn {
    background: #1a1a1a !important;
    border: 1px solid white !important;
    border-radius: 150px !important;
    padding: 5px 20px !important;
    text-transform: capitalize !important;
    color: white !important;
    text-decoration: none !important;
}
.project-btn:hover {
    background: green !important;
}
/* .project-card {
    height: 100%;
} */
.project-btn-container {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 10px auto 0px;
}