.App {
  text-align: center;
}

* {
  font-family: verdana !important;
}

.drawer {
  height: 100vh !important;
  background: #191a19;
}

.btn {
  background: #333231 !important;
  color: white !important;
  margin: 5px auto !important;
  text-decoration: none;
  width: 80%;
  height: 45px;
  padding: 150px auto !important;
}